PORT=3000
NODE_ENV=development

META_VERIFY_TOKEN=change_this_verify_token
META_ACCESS_TOKEN=replace_with_meta_access_token
META_PHONE_NUMBER_ID=1164009210125614
WHATSAPP_BUSINESS_ACCOUNT_ID=960695886752699

OPENAI_API_KEY=replace_with_openai_api_key
OPENAI_MODEL=gpt-4.1-mini

BASE44_API_BASE_URL=https://sten-bot-flow.base44.app/api
BASE44_APP_ID=6a0b8ecaa62d1dda9f17f8ae
BASE44_API_KEY=replace_with_base44_api_key
BASE44_MESSAGE_HAS_CLIENT_ID=false

BOT_BUSINESS_NAME=La Torre LED Shop
BOT_TIMEZONE=America/Tijuana

TAVILY_API_KEY=replace_with_tavily_api_key
